

body {
	background-color: #172346;
	color: white;
}

.center {
	text-align: center;
}
.formbox {
	padding-left: 10%;

}
#headingcareer{
	padding-top: 5%;
	padding-left: 5%;
}

#careerbig{
	font-size: 50pt;
	color: #0EF3C5;
}
#desctxt{
	padding-left: 20%;
	padding-right: 10%;
	padding-bottom: 3%;
}
#specialhead{
	color: #04E2B7;
	font-size: 30pt;
	font-style: oblique;
	padding-left: 15%;
	padding-right: 10%;
	padding-bottom: 1%;
}
#brightblue {
	color: #0EF3C5;
}
#Email {
	width: 81%;
}
#Resume {
	width: 70%;
}
#Relevant{
	width: 67.2%;
}
#Signature{
	width: 49.5%;
}
#Anything {
	width: 40.5%;
}
#medblue {
	color: #038298;
}
#imageside {
	display: inline-block;
	padding-left: 20%;
	padding-top: 0%;
}
#frm1 {
	display: inline-block;
}
#button {
	font-family: 'Poppins', sans-serif;
}
#answer {
	color: #0EF3C5;
}
.map1 {
	display: inline-block;
	padding: 2%;
}
.gmap_canvas {
	align-content: center;
}
.fixedit {
	align-content: center;
	padding-left: 10%;
	padding-right: 10%;

}
#onlyvisiblemobile{
	visibility: hidden;
}

@media only screen and (max-width: 1160px) {
	table {
  visibility: hidden;
}
   #onlyvisiblemobile{
		 visibility: visible;
	 }
}
