body {
    position: relative;
}

main {
    background-color: #172347;
    position: relative;
}

main h1 {
    color: #04e2b7;
    width: 100%;
    text-align: center;
    font-size: 400%;
}

/* cards */
.card-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
        margin: 1em auto;
        box-shadow: 5px 5px 5px darken(#172347, 10%);
        border-radius: 5px;
        width: 30vw;
        height: 30vw;
        position: relative;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
    .card-cover {
        position: absolute;
        top: 0;
        background-color: #25356869;
        height: 100%;
        width: 100%;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        p {
            font-size: 2em;
            border-radius: 10px;
            text-align: center;
            width: 100%;
            height: fit-content;
        }
        p.name {
            display: block;
        }
        .more {
            display: none;
        }
        .less {
            display: none;
        }
        p:nth-child(2) {
            font-size: 1em;
            text-align: center;
        }
    }
    .card:hover {
        .card-cover {
            color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            overflow-y: scroll;
        }
        img {
            filter: blur(3px);
        }
        .name {
            display: none;
        }
        .more {
            display: block;
        }
        .less {
            display: none;
        }
    }
}
.less {
    display: none;
    margin: 1em;
}
.more {
    display: block;
}
@media only screen and (max-width: 600px) {
    main>h1 {
        font-size: 300%;
    }
    .card-container {
        .card {
            height: 65vw;
            width:  65vw;
            .card-cover {
                height: 100%;
                width: 100%;
                .more {
                    display: none;
                }
                .less {
                    display: block;
                }
            }
        }
    }
}
