@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}

main {
  background-color: #172347;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  border-bottom: 3px dashed #025385;
  width: 90%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.section h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.section .monthly-coffee {
  width: 33%;
  text-align: center;
  color: white;
  background-color: #25356891;
}

.section .monthly-coffee strong {
  border-bottom: 1px solid black;
  padding: 0 1em;
  font-size: 2em;
}

.section .monthly-coffee .monthly-details {
  display: inline-block;
  width: 100%;
}

.section .monthly-coffee .picks-img {
  width: 85%;
}

.upcoming-event {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upcoming-event .date-container {
  margin: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upcoming-event .date-container .date {
  background-color: #04E2B7;
  width: 115px;
  height: 100px;
  color: black !important;
}

.upcoming-event .rupi {
  height: 50%;
}

.section h2 {
  text-align: center;
  width: 100%;
}

.section .join-us {
  text-align: center;
  width: 100%;
}

.section .apply-img {
  width: 60%;
  height: auto;
  padding: 1em;
}

#top-divider {
  width: 100%;
  color: white;
  position: relative;
}

#top-divider img {
  width: 100vw;
  height: auto;
}

#top-divider .header {
  position: absolute;
  font-size: 300%;
  text-shadow: 2px 0px #544c4c;
  top: 1em;
  left: 20%;
}

#top-divider .subheader {
  position: absolute;
  font-size: 200%;
  text-shadow: 2px 0px #544c4c;
  top: 3.5em;
  left: 20%;
}

@media screen and (max-width: 700px) {
  #top-divider .header {
    top: 0.5em;
  }
  #top-divider .subheader {
    display: none;
  }
}

main h1 {
  text-align: center;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  color: white;
  margin: 0 1em;
}

main h2 {
  color: white;
  text-align: center;
  margin: 0 1em;
}

.divider {
  width: 90%;
  border-bottom: 3px dashed #025385;
  color: white;
  padding: 1em;
  margin-bottom: 1em;
}

.divider .date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.divider .date-container .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #04e2b7;
  width: 100px;
  height: 100px;
}

.divider .date-container .date h1, .divider .date-container .date h2 {
  color: black;
}

.divider h3 {
  width: 100%;
  text-align: center;
}

.divider .center {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.divider .center .connect-img {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .divider .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 950px) {
  .divider .center {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .divider .center .connect-img {
    width: 50%;
  }
}

/* cards */
.card-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-container .card {
  margin: 1em auto;
  -webkit-box-shadow: 5px 5px 5px #0b1020;
          box-shadow: 5px 5px 5px #0b1020;
  border-radius: 5px;
  width: 25vw;
  height: 25vw;
  position: relative;
  overflow: hidden;
}

.card-container .card img {
  height: 100%;
}

.card-container .card img:hover {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.card-container .card-cover {
  position: absolute;
  top: 0;
  background-color: #25356891;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .card-cover p {
  font-size: 2em;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card-container .card-cover p:nth-child(2) {
  font-size: 1em;
  text-align: center;
}

.less {
  display: none;
  margin: 1em;
}

.more {
  display: block;
}

@media only screen and (max-width: 600px) {
  main > h1 {
    font-size: 300%;
  }
  .card-container .card {
    height: 65vw;
    width: 65vw;
  }
  .card-container .card .card-cover {
    height: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */