@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
    font-family: 'Poppins', sans-serif;
}
main {
    background-color: #172347;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section {
    border-bottom: 3px dashed #025385;
    width: 90%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
        h1 {
            width: 100%;
            text-align: center;
            margin-bottom: 1em;
        }
    .monthly-coffee {
        width: 33%;
        text-align: center;
        color: white;
        background-color: #25356891;

        strong {
            border-bottom: 1px solid black;
            padding: 0 1em;
            font-size: 2em;

        }
        .monthly-details {
            display: inline-block;
            width: 100%;
        }
        .picks-img {
            width: 85%;
        }
    } 
}

.upcoming-event {
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .date-container {
        margin: 1em;
        width: 100%;
        display: flex;
        justify-content: center;

        .date {
            background-color: #04E2B7;
            width: 115px;
            height: 100px;
            color: black !important;
        }
    }
    .rupi {
        height: 50%;
    }
}
.section {
    h2 {
        text-align: center;
        width: 100%;
    }
}

.section {
    .join-us {
        text-align: center;
        width: 100%;
    }
    .apply-img {
        width: 60%;
        height: 100%;
        padding: 1em;
    }
}

#top-divider {
    width: 100%;
    color: white;
    position: relative;

    img {
        width: 100vw;
        height: auto;
    }

    .header {
        position: absolute;
        font-size: 300%;
        text-shadow: 2px 0px rgb(84, 76, 76);
        top: 1em;
        left: 20%;
    }
    .subheader {
        position: absolute;
        font-size: 200%;
        text-shadow: 2px 0px rgb(84, 76, 76);
        top: 3.5em;
        left: 20%;
    }

    @media screen and (max-width: 700px) {
        .header {
            top: 0.5em;
        }
        .subheader {
            display: none;
        }
    }
}

main h1 {
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0 1em;
}
main h2 {
    color: white;
    text-align: center;
    margin: 0 1em;
}
.divider {
    width: 90%;
    border-bottom: 3px dashed #025385;
    color: white;
    padding: 1em;
    margin-bottom: 1em;
}
.divider {
    .date-container {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 1em;
        .date {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background-color: #04e2b7;
            width: 100px;
            height: 100px;
            h1, h2 {
                color: black;
            }
        }
    }
    h3 {
        width: 100%;
        text-align: center;
    }
    .center {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        text-align: center;
        .connect-img {
            width: 80%;
        }
    }
}
@media only screen and (max-width: 600px) {
    .divider .card-container {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width: 950px) {
    .divider .center {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        text-align: center;
        .connect-img {
            width: 50%;
        }
    }
}

/* cards */
.card-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
        margin: 1em auto;
        box-shadow: 5px 5px 5px darken(#172347, 10%);
        border-radius: 5px;
        width:  25vw;
        height: 25vw;
        position: relative;
        overflow: hidden;
        img {
            height: 100%;
        }
        img:hover {
            filter: blur(3px);
        }
    }
    .card-cover {
        position: absolute;
        top: 0;
        background-color: #25356891;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        p {
            font-size: 2em;
            border-radius: 10px;
            text-align: center;
            width: 100%;
            height: fit-content;

        }
        p:nth-child(2) {
            font-size: 1em;
            text-align: center;
        }
    }
}
.less {
    display: none;
    margin: 1em;
}
.more {
    display: block;
}
@media only screen and (max-width: 600px) {
    main>h1 {
        font-size: 300%;
    }
    .card-container {
        .card {
            height: 65vw;
            width:  65vw;
            .card-cover {
                height: 100%;
                width: 100%;
            }
        }
    }
}
