*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 8vh;
  background-color: #0e183d;
	animation-name: toolbarblack;
	animation-duration: 8s;
	animation-iteration-count: 1;
  z-index: 999;
}

@keyframes toolbarblack {
  0% {background-color:#172346;}
  100% {background-color:#0e183d;}
}

.logo {
  text-transform: uppercase;
  font-size: 125%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 65%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  font-weight: bold;
  font-size: 16px;
}

.nav-links li::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #04E2B7;
  transition: width 0.3s;
}

.nav-links li:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.nav-links .current {
  color: #04E2B7;
}

.nav-links .current:hover {
  color: #04E2B7;
}

.burger {
  display: none;
}

.burger div {
  width: 22px;
  height: 2px;
  margin: 5px;
  background-color: rgb(226, 226, 226);
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #0e183d;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .top {
  transform: rotate(-45deg) translate(-5px,5px);
}

.toggle .middle {
  opacity: 0;
}

.toggle .bottom {
  transform: rotate(45deg) translate(-5px,-5px);
}

footer {
  background-color: #0e183d;
  animation-name: toolbarblack;
  animation-duration: 8s;
  animation-iteration-count: 1;
  padding: 50px 0;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo-footer {
  width: 150px;
}

.social-media {
  margin: 5px 8px;;
}

.social-media a {
  margin-right: 30px;
  font-size: 20px;
  transition: 0.35s ease-in;
}

.social-media a:hover {
  color: #04E2B7;
}

.copyright {
  color: rgb(226, 226, 226);
  padding: 20px 0px 0px 7px;
}

.footer-right h1 {
  /* margin-top: 30px; */
  color: rgb(226, 226, 226);
  font-size: 30px;
}

.footer-right p {
  color: rgb(226, 226, 226);
  padding-bottom: 20px;
}

.border {
  margin: 0px 0 20px 0;
  width: 212px;
  height: 2px;
  background: #04E2B7;
}

.notif-form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.text {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  color: #687691;
  background: #ddd;
  font-weight: 900;
  border: none;
  outline: none;
  border-radius: 30px;
  min-width: 150px;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  color: #687691;
  background: #ddd;
  font-weight: 900;
  border: none;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  transition: opacity 0.35s ease-in;
}

.btn:hover {
  opacity: 0.6;
}

@media screen and (max-width:1024px) {
  .footer-container {
    max-width: 600px;
  }

  .footer-right {
    width: 100%;
    margin-bottom: 50px;
  }

  .footer-left {
    width: 100%;
    text-align: center;
  }
}

