*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}


nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 8vh;
  background-color: #172347;
  z-index: 999;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 125%;
}

.hamburger {
  text-align: right;
  height: 70px;
  line-height: 70px;
  color: rgb(226, 226, 226);
}

.nav-links {
  margin: 0 30px 0 0;
  font-weight: bold;
  width: 100%;
}

.nav-links a {
  clear: right;
  margin: 0 20px;
  line-height: 70px;
  transition: 0.35s ease-in;
}

.nav-links a:hover {
  background-color: #172347;
  color: rgb(0, 0, 0);
}

.nav-links .current {
  color: rgb(253, 210, 15);
}

.nav-links .current:hover {
  color: rgb(253, 210, 15);
}

label {
  margin: 0 40px 0 0;
  font-size: 162.5%;
  line-height: 70px;
  display: none;
  float: right;
}

#toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  label {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    text-align: center;
    background-color: #172347;
    width: 100%;
    display: none;
  }

  .nav-links a:first-child {
    border-top: 1px solid white;

  }

  .nav-links a {
    display: block;
    border-bottom: 1px solid white;
    margin: 0px;
    
  }

  #toggle:checked + .nav-links {
    display: block;
  }
}

.team-heading {
  padding: 1em 0 1em 0;
  font-size: 40px;
  color: black;
  text-align: center;
}

.team-heading:after {
  width: 120px;
  text-align: center;
  margin: auto;
}

.team-heading:after {
    content: '';
    display: block;
    height: 2px;
    border-bottom: 5px solid #025385;
    padding-top: 10px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px 25px 4px;
  background-color: #20587a;

}

.container {
  padding: 1.5em 0 0 0;
  width: 50%;
}

@media screen and (max-width: 640px){
  .container{
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container {
    width: 25%;
  }
}


.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}

p {
  padding: 1em;
  font-size: 15px;
  color: #6b6d6f;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.apply {
  background-color: white;
  border: 3px solid #025385;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 2em;
  cursor: pointer;
}

.apply:hover {
  background-color: #025385;
  color: white;
}

footer {
  background-color: #172347;
  padding: 50px 0;
}

.footer {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo-footer {
  width: 250px;
}

.social-media {
  margin: 5px 8px;;
}

.social-media a {
  margin-right: 30px;
  font-size: 20px;
  transition: 0.35s ease-in;
}

.social-media a:hover {
  color: black;
}

.copyright {
  color: rgb(226, 226, 226);
  padding: 20px 0px 0px 7px;
}

.footer-right h1 {
  margin-top: 30px;
  color: rgb(226, 226, 226);
  font-size: 30px;
}

.footer-right p {
  color: rgb(226, 226, 226);
  padding-bottom: 20px;
}

.border {
  margin: 0px 0 20px 0;
  width: 212px;
  height: 2px;
  background: white;
}

.notif-form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.text {
  flex: 1;
  padding: 15px 40px;
  font-size: 16px;
  color: #172347;
  background: #ddd;
  font-weight: 900;
  border: none;
  outline: none;
  border-radius: 30px;
  min-width: 150px;
}

.btn {
  cursor: pointer;
  padding: 15px 40px;
  font-size: 16px;
  color: #172347;
  background: #ddd;
  font-weight: 900;
  border: none;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  transition: opacity 0.35s ease-in;
}

.btn:hover {
  opacity: 0.6;
}

@media screen and (max-width:1000px) {
  .footer-container {
    max-width: 600px;
  }

  .footer-right {
    width: 100%;
    margin-bottom: 50px;
  }

  .footer-left {
    width: 100%;
    text-align: center;
  }
}

